[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[user]
	email = 13445380+michael-j-morgan@users.noreply.github.com
	name = Michael Morgan
